<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/pic.jpg">
        <h5>The red one is mine :D</h5>
        <img src="/img/car.jpg" class="portrait">
    </div>
    
    {{>footer}}
</body>

</html>